@font-face {
    font-family: 'OpenSans', Arial, sans-serif;
    src: url('fonts/OpenSans-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans', Arial, sans-serif;
    src: url('fonts/OpenSans-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto', Arial, sans-serif;
    src: url('./fonts/static/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', Arial, sans-serif;
    src: url('./fonts/static/Roboto-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'OpenSans', sans-serif;
    /* font-family: 'Nunito Sans', sans-serif; */
}
